<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-header fw-bold">Certificat Medical</div>
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-md-5 col-xs-12">
            <div class="d-flex gap-2 mt-0 flex-column">
              <div class="form-group my-1">
                <label for="" class="form-label">Certificat medical (PDF ou image)</label>
                <input type="file" name="" id="" class="form-control" />
              </div>
              <div class="form-group my-1">
                <label for="" class="form-label">Date début</label
                ><input type="date" name="" id="" class="form-control" />
              </div>
              <div class="form-group my-1">
                <label for="" class="form-label">Date fin</label
                ><input type="date" name="" id="" class="form-control" />
              </div>
              <button class="btn btn-primary w-full mt-2">Valider</button>
              <button class="btn btn-outline-dark w-full" (click)="close()">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
