<app-breadcrumbs [espace]="espace" [page]="page"></app-breadcrumbs>
<div class="container" *ngIf="shouldDisplayBilletAbsence === false && shouldDisplayCertificatMedical === false">
  <div class="card">
    <div class="card-content">
      <div class="card-header fw-bold">Accueil</div>
      <div class="card-body">
        <div class="form-center mx-auto mb-4">
          <div class="form-group">
            <label for="niveau" class="form-label">Niveau</label>
            <select
              (change)="loadFilieres()"
              name="niveau"
              id="niveau"
              class="form-select"
              [(ngModel)]="selectedNiveau"
            >
              <option value="{{ niveau.id }}" *ngFor="let niveau of niveaux">
                {{ niveau.normalizedIntitule }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="filiere" class="form-label">Filière</label>
            <select
              name="filiere"
              id="filiere"
              class="form-select"
              [(ngModel)]="selectedFiliere"
            >
              <option value="{{ filiere.id }}" *ngFor="let filiere of filieres">
                {{ filiere.normalizedIntitule }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="groupe" class="form-label">Groupe</label>
            <select
              name="groupe"
              id="groupe"
              class="form-select"
              [(ngModel)]="selectedGroupe"
            >
              <option value="{{ groupe.id }}" *ngFor="let groupe of groupes">
                {{ groupe.normalizedIntitule }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="periode" class="form-label">Période</label>
            <input
              type="date"
              name="periode"
              id="periode"
              class="form-control"
              [(ngModel)]="periode"
            />
          </div>
          <button
            class="btn btn-outline-primary align-self-start"
            style="width: fit-content"
            (click)="loadEtudiantsInGroupe()"
          >
            Récupérer
          </button>
        </div>
        <div *ngIf="etudiants.length > 0">
          <table class="table mt-4 table-sm text-center table-bordered">
            <thead style="background-color: whitesmoke">
              <tr>
                <th>
                  <i class="fas fa-camera"></i>  
                </th>
                <th rowspan="2">N</th>
                <th rowspan="2">Nom et Prénom</th>
                <th>L</th>
                <th>M</th>
                <th>Me</th>
                <th>J</th>
                <th>V</th>
                <th>S</th>
                <th>Cumul-S</th>
                <th>Cumul-A</th>
                <th>Discipline</th>
                <th>Décision</th>
              </tr>
            </thead>
            <tbody id="etudiants" class="text-center">
              <tr *ngFor="let etudiant of etudiants" class="">
                <td>
                    <input attr.data-user-id="{{etudiant.id}}" type="checkbox" class="et" id="{{etudiant.id}}" name="" (change)="triggerSelection($event)">
                </td>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.nom + " " + etudiant.prenom | uppercase }}</td>
                <td>{{etudiant.cumJour}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-warning" (click)="displayCertificatMedical()"[disabled]="!userIsSelected">CM</button>
            <button class="btn btn-primary" [disabled]="!userIsSelected">PV EFM/CC</button>
            <button class="btn btn-danger" [disabled]="!userIsSelected">Exclure</button>
            <button class="btn btn-dark" [disabled]="!userIsSelected">Attestation de scolarité</button>
            <button class="btn btn-success" (click)="displayBilletAbsence()" [disabled]="!userIsSelected">Billet d'absence</button>
          </div>
        </div>
        <div
          class="alert alert-warning text-center mb-0"
          *ngIf="etudiants.length === 0"
        >
          Veuillez choisir le niveau, la filière et le groupe pour récupérer les
          fiches d'absences
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container">
  <app-billet-absence  *ngIf="shouldDisplayBilletAbsence" (closeBilletAbsence)="closeBilletAbsence($event)" [etudiant]="etudiantSelected" [groupeId]="selectedGroupe" [filiereId]="selectedFiliere"></app-billet-absence>
  <app-certificat-medical *ngIf="shouldDisplayCertificatMedical" (closeCertificatMedical)="closeCertificatMedical($event)"></app-certificat-medical>
</div>

