.form-center {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 0.5em;
}

.form-auth-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner {
    background: url('/assets/banner.png') center center; background-size:cover;
    height: 100vh;
}

